*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
/*  background-color: #607D8B;*/
  color: #FFFFFF;
  font-family: Coda, sans-serif;
  overflow-x: hidden;
  background: goldenrod;
  color: ivory;
  font-size: 1.5em;
   margin: 0;
}

/*Logo*/
.logo
{
    margin-top: -30px;
}
/*Navigation*/

ul {
  margin-top: -80px;
  display: table;
  white-space: nowrap;
  margin-left: 30%;
/*  margin-right: 25%;*/
}

li {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  position: relative;
}

a {
  text-decoration: none;
  color: rgba(255,255,255,1);
  position: relative;
  padding: 16px 7px;
  border-top: 2px solid rgba(255,255,255,0);
  border-bottom: 2px solid rgba(255,255,255,0);
  transition: padding .3s,border-color .3s;
}

a:focus, a:hover {
  padding: 5px 7px;
  border-color: brown;
  outline: none;
}

a::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 0;
  color: rgba(255,255,255,0);
  border-left: 2px solid rgba(255,255,255,0);
  content: attr(data-text);
  transition: max-height .3s,border-color 0s;
}

a::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 5px;
  max-height: 0;
  color: rgba(255,255,255,0);
  border-right: 2px solid rgba(255,255,255,0);
  content: attr(data-text);
  transition: max-height .3s,border-color 0s;
}

a:focus::before, a:hover::before, a:focus::after, a:hover::after {
  max-height: 100%;
  transition-delay: .28s;
  border-color: rgba(255,255,255,1);
}

/*Portfolio*/

.portfolio-item {
  position: relative;
  width: 70%;
  height: 400px;
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1px;
  margin: 2px;
  border: 2px solid;
}
.portfolio-item .figure {
  position: relative;
  width: 100%;
  height: 100%;
}
.portfolio-item .figure img {
  width: 100%;
  height: 100%;
}
.portfolio-item .figure:hover:before {
  width: 0%;
  left: 100%;
}
.portfolio-item .figure:hover:after {
  width: 0%;
  left: 0%;
}
.portfolio-item .figure:before, .portfolio-item .figure:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0%;
  background-color: rgba(69, 90, 100, 0.5);
  -webkit-transition: width 550ms ease, left 650ms ease;
  transition: width 550ms ease, left 650ms ease;
}
.portfolio-item .figure:after {
  left: 50%;
}
.portfolio-item .figure:before {
  left: 0%;
}
.portfolio-item .figure .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.portfolio-item .figure .caption:hover:before {
  top: 30%;
  height: 40%;
  background-color: rgba(69, 90, 100, 0.9);
}
.portfolio-item .figure .caption:hover p {
  opacity: 1;
  visibility: visible;
  letter-spacing: 0;
}
.portfolio-item .figure .caption:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 90, 100, 0.5);
  z-index: -1;
  -webkit-transition: all 550ms ease;
  transition: all 550ms ease;
}
.portfolio-item .figure .caption h3 {
  font-size: 1.8em;
}
.portfolio-item .figure .caption p {
  opacity: 0;
  letter-spacing: 10px;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transition: all 550ms ease;
  transition: all 550ms ease;
}
.portfolio-item .figure .caption a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
