*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #607D8B;
  color: #FFFFFF;
  font-family: Coda, sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

nav {
  width: 100%;
  padding: 10px 16px;
  background-color: #455A64;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.brand {
  font-size: 1.8em;
  font-variant: small-caps;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.brand > small {
  font-size: 0.5em;
  font-style: oblique;
}

#menu-check {
  display: none;
}

.burger {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid;
  border-radius: 8px;
  cursor: pointer;
}

.burger:hover {
  color: #CFD8DC;
}

.burger:after,
.burger:before {
  content: "";
  position: absolute;
  width: 60%;
  height: 25%;
  left: 20%;
  border-style: solid;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.burger:after {
  top: 27%;
  border-width: 2px 0 2px 0;
}

.burger:before {
  bottom: 27%;
  border-width: 0 0 2px 0;
}

#menu-check:checked ~ .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#menu-check:checked ~ .burger:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-width: 2px 0 0 0;
  left: 14%;
  top: 45%;
}

#menu-check:checked ~ .burger:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 14%;
  bottom: 45%;
}

.menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.menu > li {
  list-style: none;
  width: 100%;
}

.btn {
  display: block;
  color: #212121;
  background-color: #CFD8DC;
  text-decoration: none;
  padding: 4px 16px;
  margin: 1px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.btn:hover {
  background-color: #212121;
  color: #CFD8DC;
}

.main {
  width: 100%;
  margin-top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 100%;
  padding: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #9ccc65;
}

.container:nth-child(2n) {
  background-color: transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.home {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 200px;
}
.home h1 {
  font-size: 4em;
}
.home h3 {
  font-size: 2em;
  color: #727272;
  font-variant: small-caps;
}
.home .quote {
  color: #727272;
  text-decoration: oblique;
}

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-social {
  color: #FFFFFF;
  font-size: 1.2em;
  padding: 4px;
}
.btn-social:hover {
  color: #727272;
}

.about {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
.about .profile-pic {
  width: 200px;
  height: 200px;
  border: 3px solid;
  border-radius: 200px;
  overflow: hidden;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.about .profile-pic img {
  height: 100%;
}
.about .profile-info {
  flex-base: 50%;
  width: 400px;
  padding: 10px 20px;
}
.about .profile-info h3 {
  font-size: 2em;
}
.about .profile-info p {
  font-size: 1.2em;
  padding: 4px;
}
.about .profile-info a {
  color: #212121;
  text-decoration: none;
}
.about .profile-info a:hover {
  color: #FFFFFF;
  background-color: #9ccc65;
}

.portfolio {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}
.portfolio h1, .portfolio h2 {
  width: 100%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  text-align: center;
  padding: 10px;
}
.portfolio h2 {
  font-style: italic;
  color: #727272;
}

.portfolio-item {
  position: relative;
  min-width: 250px;
  max-width: 400px;
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1px;
  margin: 2px;
  border: 2px solid;
}
.portfolio-item .figure {
  position: relative;
  width: 100%;
  height: 100%;
}
.portfolio-item .figure img {
  width: 100%;
}
.portfolio-item .figure:hover:before {
  width: 0%;
  left: 100%;
}
.portfolio-item .figure:hover:after {
  width: 0%;
  left: 0%;
}
.portfolio-item .figure:before, .portfolio-item .figure:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0%;
  background-color: rgba(69, 90, 100, 0.5);
  -webkit-transition: width 550ms ease, left 650ms ease;
  transition: width 550ms ease, left 650ms ease;
}
.portfolio-item .figure:after {
  left: 50%;
}
.portfolio-item .figure:before {
  left: 0%;
}
.portfolio-item .figure .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.portfolio-item .figure .caption:hover:before {
  top: 30%;
  height: 40%;
  background-color: rgba(69, 90, 100, 0.9);
}
.portfolio-item .figure .caption:hover p {
  opacity: 1;
  visibility: visible;
  letter-spacing: 0;
}
.portfolio-item .figure .caption:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 90, 100, 0.5);
  z-index: -1;
  -webkit-transition: all 550ms ease;
  transition: all 550ms ease;
}
.portfolio-item .figure .caption h3 {
  font-size: 1.8em;
}
.portfolio-item .figure .caption p {
  opacity: 0;
  letter-spacing: 10px;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transition: all 550ms ease;
  transition: all 550ms ease;
}
.portfolio-item .figure .caption a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contact .social .btn-social:hover {
  color: #9ccc65;
}

@media only screen and (min-width: 700px) {
  .burger {
    display: none;
  }

  .menu {
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
